body {
    background-color: lightyellow;
}

nav {
    text-align:right;
    margin-top: -55px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 23px;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

h2#intro {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 100px;
}

h2#error {
    text-align: left;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 50px;
}

h2#username {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 40px;
    margin: 0 auto;
    width: 800px;
}

h3#tagline {
    text-align: justify;
    margin-top: -70px;
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 1px;
}

h3.header {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin: 0 auto;
    width: 300px;
}

h3.fields {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-size: 21px;
    margin: 0 auto;
    width: 800px;
}

h3.identifiers {
    text-align: justify;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 23px;
    margin: 0 auto;
    width: 800px;
}

h3#edit {
    font-family: 'Muli', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0 auto;
    width: 800px;
}

a {
    text-decoration: none;
    color: black;
}

span.blue {
    color: deepskyblue;
}

span.form {
    font-size: 22px;
    font-weight: 600;
}

form {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    width: 300px;
}

form#search {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    width: 300px;
}

p {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

p.fields {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

p.forgot {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    width: 300px;
}

div#text {
    margin: 0 auto;
    width: 600px;
}

div#account  {
    margin: 0 auto;
    width: 600px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

div#laptops {
    margin-left: -10px;
}

div#index {
    margin-right: 50px;
    margin-top: -66px;
}

div#notepad {
    margin-right: 50px;
    margin-top: 30px;
}

div#signup {
    margin-right: 50px;
    margin-top: -132px;
}

div#searchpage {
    margin-right: 50px;
    margin-top: 20px;
}

div#editprofile {
    margin-right: 50px;
    margin-top: 98px;
}

div#mistake {
    margin: 0 auto;
    width: 400px;
}

div#avatar {
    margin: 0 auto;
    width: 800px;
}

div#reset {
    margin-right: 50px;
    margin-top: 186px;
}

div#passwordpage {
    margin-right: 50px;
    margin-top: 49px; 
}

label#remember_me {
    color: deepskyblue;
}

input[type=submit] {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.pagination {
    width: 50%;
    margin: 0 auto;
}

.pagination tr.inactive
{
    display: none;
}

.pager
{
    padding: 10px 0px;
    width: 16%;
    margin: 0 auto;
}

.pager .pager-item
{
    padding: 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: lightyellow;
    transition: .5s background-color;
    color: black;
}

.pager .pager-item:hover
{
    background-color: deepskyblue;
}

.pager .pager-item.selected
{
    background-color: deepskyblue
}

@media (max-width: 900px) {
    div#laptops {
        display: none;
    }
    div#index {
        display: none;
    }

    div#signup {
        display: none;
    }

    div#searchpage {
        display: none;
    }

    div#notepad {
        display: none;
    }

    div#editprofile {
        display: none;
    }

    nav {
        margin: 0 auto;
        width: 300px;
    }
    div#text {
        margin: 0 auto;
        width: 300px;
    }
    div#account{
        margin: 0 auto;
        width: 300px;
    }
}
