body {
    background-color: lightyellow;
}

nav {
    text-align:right;
    margin-top: -55px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 23px;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: black;
}

span {
    color: deepskyblue;
}

h3#login {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin: 0 auto;
    width: 300px;
}

form {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    width: 300px;
}

div#laptops {
    margin-left: -10px;
}

div#notepad {
    margin-right: 50px;
    margin-top: 70px;
}

label#remember_me {
    color: deepskyblue;
}

input[type=submit] {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 900px) {
    div#laptops {
        display: none;
    }
    div#notepad {
        display: none;
    }
    nav {
        margin: 0 auto;
        width: 300px;
    }
}