body {
    background-color: lightyellow;
}

nav {
    text-align:right;
    margin-top: -55px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 23px;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: black;
}

span.blue {
    color: deepskyblue;
}

h2#username {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 40px;
    margin: 0 auto;
    width: 800px;
}

h3.fields {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-size: 21px;
    margin: 0 auto;
    width: 800px;
}

h3.identifiers {
    text-align: justify;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 23px;
    margin: 0 auto;
    width: 800px;
}

h3#edit {
    font-family: 'Muli', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin: 0 auto;
    width: 800px;
}

div#laptops {
    margin-left: -10px;
}

div#avatar {
    margin: 0 auto;
    width: 800px;
}

@media (max-width: 900px) {
    div#laptops {
        display: none;
    }
    div#notepad {
        display: none;
    }
    nav {
        margin: 0 auto;
        width: 300px;
    }
}