body {
    background-color: lightyellow;
}

nav {
    text-align:right;
    margin-top: -55px;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 23px;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

h2#error {
    text-align: left;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: black;
}

span.blue {
    color: deepskyblue;
}

h3 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin: 0 auto;
    width: 300px;
}

p {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

form#search {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    width: 300px;
}

span.form {
    font-size: 22px;
    font-weight: 600;
}

input[type=submit] {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

div#laptops {
    margin-left: -10px;
}

div#search_page {
    margin-right: 50px;
    margin-top: 49px;
}

div#mistake {
    margin: 0 auto;
    width: 400px;
}

@media (max-width: 900px) {
    div#laptops {
        display: none;
    }
    div#notepad {
        display: none;
    }
    nav {
        margin: 0 auto;
        width: 300px;
    }
}
