{% extends 'base_login.html' %}

{% block content %}
    <br />
    <br />
    <br />
    <div id="avatar">
        <img src="{{ user.avatar(100) }}" alt="Avatar">
    </div>
    <br />
    <h2 id="username">{{ user.username }}</h2><br />
    <h3 class="identifiers">emai<span class="blue">l</span></h3>
    <h3 class="fields">{{ user.email }}</h3><br />
    <h3 class="identifiers">organizatio<span class="blue">n</span></h3>
    <h3 class="fields">{{ user.organization }}</h3><br />
    {% if user == current_user %}
    <a href="{{ url_for('edit_profile') }}"><h3 id="edit">edit your profil<span class="blue">e</span></h3></a>
    {% endif %}

{% endblock %}