{% extends 'base_login.html' %}

{% block content %}
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3 class="header">search databas<span class="blue">e</span></h3>
    
    <br />
    <!-- here needs action="/results.html" when ready-->
    <form id="search">
        <span class="form">keyword</span><br />
        <input type="text" name="keyword"><br />
        <br />
        <span class="form">city</span><br />
        <input type="checkbox" name="city" value="palo alto">Palo Alto<br />
        <input type="checkbox" name="city" value="los altos">Los Altos<br />
        <br />
        <span class="form">document type</span><br />
        <input type="radio" name="doctype" value="agenda" checked> Agenda<br />
        <br />
        <input type="submit" value="Search">
    </form>

    <div id="searchpage">
            <img src="/static/images/backdrop_notepad.jpg" alt="Notepad" style="float:right;width:22%;height:22%">
        </div>
{% endblock %}

