{% extends 'base_search.html' %}

{% block content %}
    <h3 class="header" id="srch">search databas<span class="blue">e</span></h3>   
    <form id="search" action="{{ url_for('search') }}" method="get">
        <p class="fields">
            {{ search_form.q.label }}<br />
            {{ search_form.q(size=30) }}<br /> 
        </p>
        <p class="fields">
            {{ search_form.doc_type.label }}<br />
            {{ search_form.doc_type }}<br />
        </p>
        <p class="fields">
            {{ search_form.city.label }}<br />
            {{ search_form.city }}<br />
        </p>
        <p>{{ search_form.submit }}</p>
    </form>

    <br />
    
    {% if results %}
        <h3 class="header">result<span class="blue">s</span></h3>
        <p class="forgot">Total results: {{ total }}</p>
    
    <br />
    <table class="pagination" data-pagecount="5">
    {% for result in results %}
        <tr>
            <td> - {{ result }}</td>
        </tr>
    {% endfor %}
    </table>

    <br />

    <button onclick="subscribe();prepopulate()">subscribe</button>

    <form id="subscribe" action="" method="post">
        <p class="fields">
            {{ subscribe_form.query.label }}<br />
            {{ subscribe_form.query(size=30) }}<br /> 
        </p>
        <p class="fields">
            {{ subscribe_form.doctype.label }}<br />
            {{ subscribe_form.doctype }}<br />
        </p>
        <p class="fields">
            {{ subscribe_form.cities.label }}<br />
            {{ subscribe_form.cities }}<br />
        </p>
        <p class="fields">
            {{ subscribe_form.frequency.label }}<br />
            {{ subscribe_form.frequency }}
        </p>
        <p>{{ subscribe_form.submit }}</p>
        </p>
    </form>
    {% endif %}

{% endblock %}