<!DOCTYPE html>
<html lang="en">
    <head>
        <title>observ - {{ title }}</title>
        <link rel="stylesheet" href="/static/signup_style.css">
        <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
    </head>
    <body>

    <a href="{{ url_for('index') }}"><h1>&nbsp; obser<span>v</span></h1></a>

    <nav>
        <a href="/about">abou<span>t</span> &nbsp; &nbsp;</a>  
        <a href="{{ url_for('login') }}">logi<span>n</span> &nbsp; &nbsp;</a>  
        <a href="/signup">sign u<span>p</span> &nbsp; &nbsp; &nbsp;</a>
    </nav>

    <br />
    <br />

    <div id="laptops">
        <img src="/static/images/backdrop_laptops.jpg" alt="Two laptops" style="float:left;width:20%;height:20%">
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <h3>create an accoun<span>t</span></h3>
    <br />
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br />
            {{ form.username(size=32) }}<br />
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.organization.label }}<br />
            {{ form.organization(size=32) }}<br />
            {% for error in form.organization.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br />
            {{ form.email(size=32) }}<br />
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br />
            {{ form.password(size=32) }}<br />
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br />
            {{ form.password2(size=32) }}<br />
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>


    <div id="notepad">
        <img src="/static/images/backdrop_notepad.jpg" alt="Notepad" style="float:right;width:22%;height:22%">
    </div>

    </body> 
</html>